header {
    section {
        justify-content:space-between;
        align-items: center;
}
//End Section
//nav
nav 
   //ul
   ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    //li
  li{
      //a
    a{
margin: 10px 30px;
color: $color-primaria;
    }
    //End li
   }
   //End nav
}

}