          /*Fonte*/
@import url('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 300 & family = Source + Sans + Pro: wght @ 200; 300; 400 & display = swap' );
       /*Componentes */
@import "variaveis.scss";
@import "bootstrap.scss";
@import "./header.scss";
@import "./buttons.scss";
@import "main.scss";
@import "footer.scss";
@import "responsive-background.scss";
@import "resposive-elements.scss";

       
 
