$color-branco: #ffffff;
$color-primaria: #3399cc;
$color-secundaria: #333366;
$color-tercearia: #ff6633;
$color-quartenaria: #b1f4ff;

$font-h1: 40px;
$font-h2: 20px;

$social-media-icons: 10px;

$btn-radius: 20px;
